<app-progress-bar [hidden]="configLoaded"></app-progress-bar>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/brand-light.svg" height="30px" width="150px">
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse"   data-target="#target" aria-controls="target" aria-expanded="false" aria-label="Toggle navigation" (click)="isShown = !isShown" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="target">
      <ul class="navbar-nav mr-auto">
        <li [ngClass]="view === 'usActive' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="isShown = !isShown; view = 'usActive';">US active</a>
        </li>
        <li [ngClass]="view === 'usDeaths' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'usDeaths'; isShown = !isShown">US deaths</a>
        </li>
        <li [ngClass]="view === 'worldActive' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'worldActive'; isShown = !isShown">Worldwide active</a>
        </li>
        <li [ngClass]="view === 'worldDeaths' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'worldDeaths'; isShown = !isShown">Worldwide deaths</a>
        </li>
      </ul>
    </div>
  </nav>
  <div *ngIf="mapRegistered && configLoaded" class='container-fluid'>
    <div class="row">
      <div class="col-sm" style="text-align: center; font-size: 20px;">
          {{chartTitle}}
      </div>
    </div>
    <div class="row" style="height: 75%">
      <div class="col-sm">
        <div *ngIf="view === 'usActive'">
          <app-us-active-cases [selectedDate]="selectedDate" [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-us-active-cases>
        </div>
        <div *ngIf="view === 'worldActive'">
          <app-world-active-cases [selectedDate]="selectedDate" [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-world-active-cases>
        </div>
        <div *ngIf="view === 'usDeaths'">
          <app-us-death-cases [selectedDate]="selectedDate" [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-us-death-cases>
        </div>
        <div *ngIf="view === 'worldDeaths'">
          <app-world-death-cases [selectedDate]="selectedDate" [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-world-death-cases>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <!-- <div style="width: 100%; text-align: center"> -->
          <app-slider thumbLanel 
            [numDays]="numDaysOnSlider" 
            [(selectedDate)]="selectedDate" 
            [firstDay]="firstDay"
            [lastDay]="lastDay"
          ></app-slider>
        <!-- </div> -->
      </div>
    </div>
  </div>
  
  <footer class="page-footer font-small">
    <div class="footer-copyright text-right" style="font-size: 12px !important">Powered By:
      <a href="https://boltanalytics.com/" target="_blank" style="font-size: 12px !important;">Bolt Analytics</a>
    </div>
  </footer>
</div>
