<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark" style="border-bottom: 3px solid #E04E39;">
    <a class="navbar-brand">
      <img src="assets/brand-light.svg" height="30px" width="150px">
    </a> 
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse"   
      data-target="#target" aria-controls="target" aria-expanded="false" 
      aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"  id="target">
      <ul class="navbar-nav mr-auto">
        <li [ngClass]="view === 'worldConfirmed' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'worldConfirmed'">World confirmed</a>
        </li>
        <li [ngClass]="view === 'worldDeaths' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'worldDeaths'">World deaths</a>
        </li>
        <li [ngClass]="view === 'usConfirmed' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'usConfirmed';">US confirmed</a>
        </li>
        <li [ngClass]="view === 'usDeaths' ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" href="#" (click)="view = 'usDeaths'">US deaths</a>
        </li>
      </ul>
    </div> -->
    <ul class="nav" style="padding-top: 10px">
      <li [ngClass]="view === 'worldConfirmed' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('worldConfirmed')">World confirmed</a>
      </li>
      <li [ngClass]="view === 'worldDeaths' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('worldDeaths')">World deaths</a>
      </li>
      <li [ngClass]="view === 'usConfirmed' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('usConfirmed')">US confirmed</a>
      </li>
      <li [ngClass]="view === 'usDeaths' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('usDeaths')">US deaths</a>
      </li>
      <li [ngClass]="view === 'indiaConfirmed' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('indiaConfirmed')">India confirmed</a>
      </li>
      <li [ngClass]="view === 'indiaDeaths' ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="activateLink('indiaDeaths')">India deaths</a>
      </li>
    </ul>
  </nav>
  
  <app-progress-bar [hidden]="configLoaded"></app-progress-bar>
  <div *ngIf="configLoaded" class='container-fluid'>
    <div class="row" style="margin-top: 10px">
      <div class="col-sm text-right">
          <app-slider thumbLanel 
            [numDays]="numDaysOnSlider" 
            (selectedDateChange)="chartLoadingInProgress = true; selectedDate = $event"
            [selectedDate]="selectedDate"
            [firstDay]="firstDay"
            [lastDay]="lastDay"
          ></app-slider>
          <!-- [(selectedDate)]="selectedDate"  -->
      </div>
    </div>
    <div class="row text-center" style="padding-top: 10px">
      <div class="col">
          <div class="charttitle" >
            {{chartTitle}}
            <span style="display: inline-block; width: 20px; height: 20px;">
              <mat-progress-spinner *ngIf="chartLoadingInProgress" [ngStyle]="{'display': 'inline-block'}" 
                mode="indeterminate" [diameter]="20"></mat-progress-spinner>
            </span>
          </div>
      </div>
    </div>
    <div *ngIf="best && worst" class="row justify-content-start" style="margin-top: 10px;font-size: 12px;">
      <!-- <div class="col-md-auto">
        <span style="font-weight: bold;">Best performers: </span>
        <span style="color: #02c102; font-weight: bold;">{{best}}</span>
      </div> -->
      <div class="col-md-auto">
        <span style="font-weight: bold;">Most worsened: </span>
        <span style="color: red; font-weight: bold;">{{worst}}</span>
      </div>
    </div>
    <div class="row justify-content-end" style="margin-top: 10px;font-size: 12px;">
      <div class="col-md-auto">
        <span>As compared to past trend: </span>
      </div>
      <div class="col-md-auto">
        <div class="row">
          <div class="col-sm-auto">
            <button type="button" class="legend-button" style="background: green;"></button>
            <span>Improving</span>
          </div>
          <div class="col-sm-auto">
            <button type="button" class="legend-button" style="background: yellow;"></button>
            <span>Same</span>
          </div>
          <div class="col-sm-auto">
            <button type="button" class="legend-button" style="background: red;"></button>
            <span>Worsening</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="height: 75%;">
      <div class="col-sm-11 text-center" style="background: #063f6d;">
        <div *ngIf="view === 'worldConfirmed'">
          <app-progress-bar [hidden]="globeMapRegistered"></app-progress-bar>
          <app-world-confirmed-cases *ngIf="globeMapRegistered" [selectedDate]="selectedDate" 
            (onPerformersFound)="best = $event.best; worst = $event.worst"
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-world-confirmed-cases>
        </div>
        <div *ngIf="view === 'worldDeaths'">
          <app-progress-bar [hidden]="globeMapRegistered"></app-progress-bar>
          <app-world-death-cases *ngIf="globeMapRegistered" [selectedDate]="selectedDate" 
            (onPerformersFound)="best = $event.best; worst = $event.worst"  
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-world-death-cases>
        </div>
        <div *ngIf="view === 'usConfirmed'">
          <app-progress-bar [hidden]="usMapRegistered"></app-progress-bar>
          <app-us-confirmed-cases *ngIf="usMapRegistered" [selectedDate]="selectedDate" 
            (onPerformersFound)="best = $event.best; worst = $event.worst"
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-us-confirmed-cases>
        </div>
        <div *ngIf="view === 'usDeaths'">
          <app-progress-bar [hidden]="usMapRegistered"></app-progress-bar>
          <app-us-death-cases *ngIf="usMapRegistered" [selectedDate]="selectedDate" 
            (onPerformersFound)="best = $event.best; worst = $event.worst"
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-us-death-cases>
        </div>
        <div *ngIf="view === 'indiaConfirmed'">
          <app-progress-bar [hidden]="indiaMapRegistered"></app-progress-bar>
          <app-india-confirmed-cases *ngIf="usMapRegistered" [selectedDate]="selectedDate"
            (onPerformersFound)="best = $event.best; worst = $event.worst"
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-india-confirmed-cases>
        </div>
        <div *ngIf="view === 'indiaDeaths'">
          <app-progress-bar [hidden]="indiaMapRegistered"></app-progress-bar>
          <app-india-death-cases *ngIf="usMapRegistered" [selectedDate]="selectedDate" 
            (onPerformersFound)="best = $event.best; worst = $event.worst"
            [numDaysOnSlider]="numDaysOnSlider" (chartTitleChange)="chartTitle = $event"></app-india-death-cases>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 30px; position: relative;">
      <span style="font-size: 12px;">
        <i>Methodology: Each day we apply our forecast models on the updated data provided by
        <a style="color: #E04E39 !important;" href="https://github.com/CSSEGISandData/COVID-19/" target="_blank">
          Center for Systems Science and Engineering (CSSE) at Johns Hopkins University</a>, 
          <a style="color: #E04E39 !important;" href="https://www.covid19india.org/" target="_blank">
            www.covid19india.org</a>. Based on the models, 
        we forecast the new cases/deaths for that day and compare with the actual new cases/deaths. 
          The delta between these two numbers is used to color code the heatmap. On the extreme left hand side 
          of the scale is solid green which indicates either no new cases or the biggest drop compared to the 
          forecast on that day. On the extreme right hand side of the scale is solid red which indicates the 
          biggest increase compared to the forecast. All regions/countries are color coded in between these two 
          extremes. Note, the scale will be different for each day depending upon deviation from forecast.
        </i>
      </span>
    </div>
  </div>
  
  <footer class="page-footer font-small">
    <div class="footer-copyright text-right" style="font-size: 12px !important">Powered By:
      <a href="https://boltanalytics.com/" target="_blank" style="font-size: 12px !important;">Bolt Analytics</a>
    </div>
  </footer>
</div>
