<ng-container *ngIf="errorMessage">
    <div class="card bg-danger">
        <div class="card-header">
          <span style="margin-left:2px">
            <a style="color: white !important">{{errorMessage}}</a>
          </span>
        </div>
    </div>
</ng-container>
<div #charts [ngClass]="errorMessage || selectedRegion ? 'hidden': 'demo-chart'" style="height: 100%;"></div>
<div style="position: relative;">
  <div *ngIf="selectedRegion" class="row text-right" style="position: absolute; right: 0; z-index: 10;">
    <div class="col">
      <button class="btn btn-light btn-sm button-style" style=" margin-top: 20px" type="button" 
        (click)="drilldownBackClicked($event)">Back</button>
    </div>
  </div>
  <app-progress-bar [hidden]="!drilldownInProgress || errorMessage"></app-progress-bar>
  <div #charts2 [ngClass]="selectedRegion && !drilldownInProgress && !errorMessage ? '': 'hidden'" 
    style="height: 90%; position: relative;"></div>
</div>