.labelStyle {
    color: white;
    font-size: 12px;
}

* /deep/ .mat-slider-thumb-label-text {
    font-size: 10px !important;
}

.button-style {
    margin-right: 10px; 
    color: white; 
    background: green; 
    border: none;
}