<div style="width: 100%; font-size: 12px;">
  <button type="button" type="button" *ngIf="!playing || firstTimePlay" class="btn btn-light btn-sm fa fa-play button-style" title="Play" 
    (click)="startPlay()" [disabled]="selectedDateIndex === numDays"></button>
  <button *ngIf="playing" ype="button" class="btn btn-light btn-sm fa fa-pause button-style"
    title="Pause" (click)="stopPlay()"></button>
  <span class="text-small labelStyle">{{firstDay}}</span>
    <mat-slider [thumbLabel]="true" [tickInterval]="1" 
      min="1" [max]="numDays" step="1" [(ngModel)]="selectedDateIndex" 
      (input)="onSlide($event)"
      (change)="onDateChanged()" 
      ></mat-slider>
  <span class="text-small labelStyle">{{formatDate(lastDay)}}</span>
</div>
