/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  color: white !important;
  background-color: #003865;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: Lato;
}

.hidden {
  display: none;
}

.navbar-nav > .nav-item.active > .nav-link{
  color: #E04E39 !important;
}

.nav-link:hover {
  color: #E04E39 !important;
}

.nav > .nav-item.active > .nav-link{
  color: #E04E39 !important;
}

/* li.active a {
  color: #E04E39 !important;
} */

.demo-chart {
  /* height: 500px; */
  width: 100%;
}

.mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #E04E39 !important;
}

.mat-slider.mat-slider-horizontal {
  width: 20%;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: red;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece  {
  background-color: #fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 15px;
  border-radius: 5px;
  background-color: #0A4C95;
}