<ng-container *ngIf="errorMessage">
  <div class="card bg-danger">
    <div class="card-header">
      <span style="margin-left:2px">
        <a style="color: white !important">{{errorMessage}}</a>
      </span>
    </div>
  </div>
</ng-container>
<div #charts [ngClass]="errorMessage || selectedRegion ? 'hidden': 'demo-chart'" style="height: 100%;"></div>
<div *ngIf="selectedRegion" class="row text-right">
  <div class="col">
    <button class="btn btn-light button-style" style=" margin: 20px" type="button" 
      (click)="drilldownBackClicked($event)">Back</button>
  </div>
</div>
<div *ngIf="selectedRegion && !errorMessage">
  <label style="border-bottom: 2px solid;">{{selectedRegion}} </label>
  <label>forecast for next week</label>
</div>
<app-progress-bar [hidden]="!drilldownInProgress || errorMessage"></app-progress-bar>
<div #charts2 [ngClass]="selectedRegion && !drilldownInProgress && !errorMessage ? '': 'hidden'" style="height: 70%;"></div>