<ng-container *ngIf="errorMessage">
  <div class="card bg-danger">
    <div class="card-header">
      <span style="margin-left:2px">
        <a style="color: white !important">{{errorMessage}}</a>
      </span>
    </div>
  </div>
</ng-container>
<div #charts [ngClass]="errorMessage ? 'hidden': 'demo-chart'" style="height: 100%;"></div>


<!-- <div class="loading-indicator">
  <mat-progress-spinner *ngIf="inProgress" mode="indeterminate" strokeWidth="4" diameter="50"></mat-progress-spinner>
</div> -->